
/*
 * Header scss File
*/

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 120px 0 rgba(71, 85, 105, 0.07);
  margin: 16px 0;
  transition: padding 0.3s ease;
  position: relative;

  &.mega-menu-active {
    border-radius: 20px 20px 0 0 ;
  }

  @media (max-width: 640px) {
    padding: 16px 20px;
  }
}

.header-links-wrapper {
  display: flex;

  > a {
      padding: 8px 12px 16px 12px;
      margin: 0 4px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: #1E293B;
      text-decoration: none;
  }

  @media (max-width: 640px) {
    display: none;
  }

  .header-link {
    position: relative;

    &.active {
      &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        aspect-ratio: 1/1;
        left: 50%;
        transform: translateX(-50%);
        bottom: 7px;
        background-color: #002FFF;
        border-radius: 100%;

        @media (max-width: 640px) {
          bottom: -7px;
        }
      }
    }
  }

	@media (max-width: 640px) {
      > a {
        padding: 0;
        font-size: 12px;
        margin: 0 5px;
      }
  }
}

.avatar-small {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: all 0.3s ease;
  top: 0px;
  left: 0;
  height: 110px;


  header {
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
  }

  &.sticky {
    position: fixed;
    height: 120px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: linear-gradient(180deg, #6884F4 0%, rgba(180, 192, 245, 0.00) 93.31%);
    backdrop-filter: blur(0px);

    @media (max-width: 768px) {
      height: 120px;
    }
  }
}

.section-to-fade {
  transition: opacity 0.3s ease;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
}

.avatar-trigger {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

/* Right cluster (avatar + hamburger) */
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar-trigger,
.hamburger-trigger {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.hamburger-trigger {
  width: 40px;
  height: 40px;

  &.open {
    border-radius: 100%;
    background: #F8FAFC;
  }
}
.header-hamburger-trigger-icon {
  &.hamburger {
    width: 24px;
    height: 24px;
  }

  &.close {
    width: 15px;
    height: 15px;
  }
}