/*
 * Profile component styles
 */

$profileBackgroundHeight: 358px;
$profileBackgroundHeightTablet: 280px;
$profileBackgroundHeightMobile: 200px;

.profile-container {
  align-self: stretch;
  border-radius: 32px;
  box-shadow: 0 0 120px 0 rgba(71, 85, 105, 0.07);
  position: relative;
  background-color: #fff;

  @media (max-width: 991px) {
    border-radius: 24px;
  }

  @media (max-width: 640px) {
    border-radius: 16px;
  }
}

.profile-background {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: $profileBackgroundHeight;
  border-radius: 32px 32px 0 0;
  overflow: hidden;
  background-color: #714949;

  @media (max-width: 991px) {
    height: $profileBackgroundHeightTablet;
    border-radius: 24px 24px 0 0;
  }

  @media (max-width: 640px) {
    height: $profileBackgroundHeightMobile;
    border-radius: 16px 16px 0 0;
  }
}

.profile-background-image {
  width: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  aspect-ratio: 16/9;
  position: absolute;
  left: 0;
  object-fit: cover;

  @media (max-width: 991px) {
    height: 600px;
    top: -160px;
  }

  @media (max-width: 640px) {
    height: 400px;
    top: -100px;
  }
}

.profile-actions {
  display: inline-flex;
  align-items: center;
  justify-content: right;
  gap: 8px;
  position: absolute;
  right: 0;
  top: -52px;
  width: 244px;
  height: 48px;
}

.follow-button {
  display: flex;
  width: 118px;
  height: 48px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  position: relative;
  border: none;
  background-color: #002fff;

  @media (max-width: 991px) {
    width: 100px;
    height: 40px;
    padding: 8px 16px;
  }

  @media (max-width: 640px) {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
  }

  .button-text {
    color: #fff;
    text-align: center;
    position: relative;
    font: 500 16px/22px Inter;

    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 20px;
    }

    @media (max-width: 640px) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 70px 24px 24px 24px;
  box-sizing: border-box;
}

.profile-avatar-container {
  width: 120px;
  height: 120px;
  aspect-ratio: 1/1;
  position: absolute;
  top: calc($profileBackgroundHeight - (120px / 2));
  left: 24px;

  @media (max-width: 991px) {
    width: 100px;
    height: 100px;
    top: calc($profileBackgroundHeightTablet - (100px / 2));
  }

  @media (max-width: 640px) {
    width: 80px;
    height: 80px;
    top: calc($profileBackgroundHeightMobile - (80px / 2));
  }
}

.profile-avatar-image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 120px;
  border: 2px solid #6fa7f0;
  box-shadow: 0 0 144px 12px rgba(71, 85, 105, 0.25);
}


.status-emoji {
  display: flex;
  width: 42px;
  height: 42px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  position: absolute;
  left: 72px;
  top: -10px;
  background-color: #fff;

  @media (max-width: 991px) {
    width: 36px;
    height: 36px;
    padding: 8px;
    left: 58px;
    top: -8px;
  }

  @media (max-width: 640px) {
    width: 28px;
    height: 28px;
    padding: 6px;
    left: 46px;
    top: -6px;
  }

  .emoji-text {
    color: #000;
    text-align: center;
    position: relative;
    font: 500 18px Inter;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 640px) {
      font-size: 14px;
    }
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  position: relative;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.user-name {
  align-self: stretch;
  color: #1e293b;
  position: relative;
  font: 600 32px Inter;

  @media (max-width: 991px) {
    font-size: 28px;
  }

  @media (max-width: 640px) {
    font-size: 24px;
  }
}

.profile-info-row {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  position: relative;

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

.profile-location-text {
  color: #1e293b;
  position: relative;
  font: 600 16px/20px Inter;

  @media (max-width: 640px) {
    font-size: 14px;
    line-height: 20px;
  }

  .location-prefix {
    font-weight: 400;
    color: #475569;
  }

  .location-highlight {
    font-weight: 700;
    color: #1e293b;
    margin-left: 5px;
  }
}

.joined-badge {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ade4ff;
  position: relative;
  background-color: #f0faff;
}

.calendar-icon {
  width: 16px;
  height: 16px;
  position: relative;
}

.badge-content {
  display: flex;
  padding: 0 4px;
  align-items: flex-start;
  position: relative;
}

.badge-label {
  color: #0075ad;
  position: relative;
  font: 400 14px/20px Inter;
}

.description-section {
  max-width: 500px;

  @media (max-width: 640px) {
    max-width: 550px;
  }
}

.bio-text {
  color: #1e293b;
  position: relative;
  font: 400 16px/26px Inter;
}

.profile-flag-and-age {
  color: #475569;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.profile-flag {
  font-size: 18px;
}
