  .dropdown-menu {
    position: absolute;
    top: 120%;
    right: 0;
    background: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    z-index: 10;
    padding: 11px 0;
    overflow: hidden;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .dropdown-item {
			color:#1E293B;
			font-size: 14px;
			
			font-weight: 400;
			line-height: 22px;
			white-space: nowrap;
      cursor: pointer;
			padding: 0 12px;

      &:hover {
				background: #f8fafc;
        color: #1e293b;
      }

			&.active {
				padding-left: 44px;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					background-image: url('/icons/dropdown-check.svg');
					background-repeat: no-repeat;
					width: 24px;
					height: 24px;
					left: 12px;
				}
			}
    }
  }
