.profile-insights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  transition: all 0.3s ease;
  gap: 32px;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 32px;
  box-shadow: 0 0 120px 0 rgba(71, 85, 105, 0.07);
  position: relative;
  background-color: #fff;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  @media (max-width: 768px) {
    .insights-right {
      .insights-grid {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: start;
      }
    }
  }
}

.insight-item {
  text-align: center;
  margin: 0 16px;

  @media (max-width: 1000px) {
    margin: 0 10px;
  }

  @media (max-width: 600px) {
    margin: 0 6px;
  }
}

.insight-value {
  color: #1E293B;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.insight-label {
  color: #475569;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.insights-left {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;

  .rank-badge {
    width: 48px;
    height: 48px;
  }

  .rank-info {
    white-space: nowrap;

    h3 {
      color:#1E293B;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      margin: 0;
    }

    p {
      color:#475569;
      text-align: center;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      margin: 0;

      .highlight {
        color:#475569;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
      }
    }

    .progress-bar {
      width: 100%;
      height: 5px;
      background: #e5e7eb;
      border-radius: 3px;
      margin-top: 6px;
      overflow: hidden;

      .progress-fill {
        height: 100%;
        background: #2563eb;
        transition: width 0.4s ease;
      }
    }
  }
}

.insights-right {
  display: flex;
  align-items: center;
  gap: 16px;

  .insights-grid {
    display: flex;
    align-items: center;
  }

  .arrow img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
