.dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 3;
  padding: 11px 0;
  overflow: hidden;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .dropdown-item {
    color:#1E293B;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    padding: 0 12px;

    &:hover {
      background: #f8fafc;
      color: #1e293b;
    }

    &.active {
      padding-left: 44px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background-image: url('/icons/dropdown-check.svg');
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        left: 12px;
      }
    }
  }
}

.dropdown-header {
  position: relative;
  color: #64748B;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;

  .arrow {
    width: 16px;
    height: 16px;
    opacity: 0.6;
    transition: transform 0.2s ease;

    &.rotated {
      transform: rotate(180deg);
    }
  }
}
