.photo-marker {
  cursor: pointer;
  width: 41px;
  height: 41px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: transform 0.2s ease;
  border: 1.5px solid #f2f9fe;
  box-shadow: 0 0 20px 0 rgba(71, 85, 105, 0.25);
  position: relative;
}

.photo-marker:hover {
  transform: scale(1.1);
}

/* shared active area for photo/people marker */
.photo-marker.active::before,
.people-marker.active::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 230px;
  border-radius: 14px;
  background: transparent;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* adjust for photo-marker specifically */
.photo-marker.active::before {
  bottom: 33px;
}

.marker-tooltip {
  position: absolute;
  z-index: 9;
  pointer-events: none;
  opacity: 0;
  transform: translateY(4px);
  transition: all 0.25s ease;
}

.marker-tooltip.visible {
  opacity: 1;
  transform: translateY(0);
}

.marker-tooltip .tooltip-card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  width: 250px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  max-height: 198px;
  position: relative;
  overflow: visible;
}

.marker-tooltip .tooltip-card .tooltip-photo {
  width: 100%;
  height: 130px;
  background-image: var(--photo-url);
  background-size: cover;
  background-position: center;
}

.marker-tooltip .tooltip-card .tooltip-content {
  padding: 10px 14px;
  position: relative;
}

.marker-tooltip .tooltip-card .tooltip-content .tooltip-city {
  background: #f7f7f8;
  border-radius: 8px;
  font-weight: 500;
  padding: 4px 8px;
  font-size: 13px;
  color: #111827;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 6px;
  position: absolute;
  left: 12px;
  top: 12px;
}

.marker-tooltip .tooltip-card .tooltip-content .tooltip-title {
  font-weight: 500;
  font-size: 14px;
  color: #1e293b;
  margin-bottom: 6px;
  line-height: normal;
}

.marker-tooltip .tooltip-card .tooltip-content .tooltip-date {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #374151;
  height: 20px;
}

.marker-tooltip .tooltip-card .tooltip-content .tooltip-date > span {
  color: #475569;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
}

.marker-tooltip .tooltip-card .tooltip-content::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 0; height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid #fff;
  pointer-events: none;
}

.marker-tooltip .tooltip-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/icons/arrow-top-right.svg');
  background-size: 11px 11px;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 14px;
  bottom: 30px;
}
